<!DOCTYPE html>
<html lang="pt">

{% extends "portfolio/layout.html" %}


{% block body %}

    {% block main %}
    <main>
        <div class="content">
        {% for post in posts %}

        <article>
            <div class="item">
                <h2>{{post.titulo}}</h2>
                <p>Autor: {{post.autor}}</p>
                <p>Descrição: {{post.descricao}}</p>
                <p>Link : {{post.link}}</p>
                <p>Data: {{post.data}}</p>
            </div>
        </article>

        {% endfor %}
        </div>


    </main>
    {% endblock main %}





    
    {% endblock body %}

    <footer>
        <div>
            Rafael Simões - a22202620 - Universidade Lusófona 2023
        </div>
    </footer>

</html>