<!DOCTYPE html>
<html lang="pt">

{% extends "portfolio/layout.html" %}


<body>

    {% block main %}
    <main>


        <div class="fade-in-text">

            <div class="content">
                <a href="{% url 'novo' %}" style="font-size: 30px; color: rgb(255, 140, 0);text-align: center;">Novo
                    Post</a>
                {% for post in posts %}

                <article>
                    <div class="item">
                        <b>
                            <h2>{{post.titulo}}</h2>
                        </b>
                        <p>Autor: {{post.autor}}</p>
                        <p>Descrição: {{post.descricao}}</p>
                        <p>Link : {{post.link}}</p>
                        <p>Data: {{post.data}}</p>
                        {% if post.imagem.url != "" %}
                        <img src="{{ post.imagem.url }}" height="200px" width="200px">
                        {% endif %}
                        <br><br>
                        <a href="{% url 'edita' post.id %}">🛠️</a>
                        <a href="{% url 'apaga' post.id %}">❌</a>
                    </div>
                </article>

                {% endfor %}
            </div>
        </div>


    </main>
    {% endblock main %}





    <footer>
        <div>
            Rafael Simões - a22202620 - Universidade Lusófona 2023
        </div>
    </footer>





</body>

</html>