<!DOCTYPE html>
<html lang="pt">

{% extends "portfolio/layout.html" %}

<body>



    
    <main>
        {% block main %}
       <section class="hero" id="frase">
        {% block frase %}
        <div class="hero-inner">
            <div class="fade-in-text">
                <h1>RAFAEL SIMÕES</h1>
                <h2>O limite é uma fronteira criada apenas pela mente!</h2>
                <a href="{% url 'aboutme' %}" class="btn"><span>Sobre Mim</span> </a>
            </div>
        </div>
        {% endblock frase %}
    </section> 
    {% endblock main %}
    </main>
    
    

    <footer id="footer">
        <div class="divFooter" id="divFooter">
            Rafael Simões - a22202620 - Universidade Lusófona 2022/2023
        </div>
    </footer>


</body>

</html>