<!DOCTYPE html>
<html lang="pt">

{% extends "portfolio/layout.html" %}


<body>

    {% block main %}
    <main> 
      <div class="fade-in-text">


        <h1 id="js" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">JavaScript Playground</h1>
        <br />
        <br />
        <br />
        <br />

        <div class="calculadora">

            <input type="text" placeholder="Faça uma conta" id="conta" />

            <button onclick="fazContas(this)">Resultado</button>
            <button onclick="limpar(this)">Clear</button>

        </div>

        <p class="resultadoConta">
            <label for="resultado" id="resultado"> </label>
        </p>

        <div class="displayNome">

            <input type="text" placeholder="Insira o seu nome" id="nome" />

            <button onclick="submitName(this)">Submit</button>
            <button onclick="limparNome(this)">Clear</button>

        </div>

        <div class="nomes">
            <label for="name" id="name1"> </label>
            <label for="name" id="name2"> </label>
            <label for="name" id="name3"> </label>
        </div>

        </p>




        <div class="displayNome">
            <button onclick="inserirData(this)">Data</button>
        </div>

        <p>
            <label class="divData" id="todayDate"> </label>
        </p>







    </div>

    </div>  

    </main>
    {% endblock main %}


    






    <footer>
        <div>
            Rafael Simões - a22202620 - Universidade Lusófona 2023
        </div>
    </footer>



</body>

</html>