<!DOCTYPE html>
<html lang="pt">

{% extends "portfolio/layout.html" %}


<body>

    {% block main %}
    <main> 

       <div class="fade-in-text">
        <div class="timeline">
            <div class="container left">
                <div class="contentTimeline">
                    <h2>Titulo: DEISI GreatGame</h2>
                    <p>Descrição: Jogo de tabuleiro temático do anime Demon Slayer!</p>
                    <p>Ano de realização: 2022</p>
                    <p>Linguagem: Java</p>
                    <p style="color: white"><a href="https://github.com/Guchalo/LP2_22005787_22005793">Link</a></p>
                    {% load static %}
                    <img src="{% static 'portfolio/img/lusophone-university-humanities-technologies-lisbon-portugal.jpg' %}">
                </div>
            </div>
            <div class="container right">
                <div class="contentTimeline">
                    <h2>Titulo: FireTracker</h2>
                    <p>Descrição: Aplicação móvel que rastreia os fogos em Portugal!</p>
                    <p>Ano de realização: 2022</p>
                    <p>Linguagem: Kotlin e Java</p>
                    <p style="color: white"><a href="https://github.com/ULHT-CM-2021-22/22005787-22005793">Link</a></p>
                    {% load static %}
                    <img src="{% static 'portfolio/img/lusophone-university-humanities-technologies-lisbon-portugal.jpg' %}">
                </div>
            </div>
            <div class="container left">
                <div class="contentTimeline">
                    <h2>Titulo: MyHome</h2>
                    <p>Descrição: Sistema de uma SmartHome automatizado!</p>
                    <p>Ano de realização: 2022</p>
                    <p>Linguagem: C</p>
                    <p style="color: white"><a
                            href="https://www.tinkercad.com/things/86YPUv2t7dj-projeto-final-aac">Link</a></p>
                            {% load static %}
                    <img src="{% static 'portfolio/img/lusophone-university-humanities-technologies-lisbon-portugal.jpg' %}">
                </div>
            </div>
            <div class="container right">
                <div class="contentTimeline">
                    <h2>Titulo: BombRoad</h2>
                    <p>Descrição: Jogo bombroad!</p>
                    <p>Ano de realização: 2021</p>
                    <p>Linguagem: C</p>
                    <p style="color: white"><a href="https://replit.com/@rafaelsimoes220/recursofinal#main.c">Link</a>
                    </p>
                    {% load static %}
                    <img src="{% static 'portfolio/img/lusophone-university-humanities-technologies-lisbon-portugal.jpg' %}">
                </div>
            </div>
            <div class="container left">
                <div class="contentTimeline">
                    <h2>Titulo: Xadrez</h2>
                    <p>Jogo de xadrez realizado para o ambito da cadeira de Fundamentos de Programação</p>
                    <p>Ano de realização: 2021</p>
                    <p>Linguagem: Kotlin</p>
                    <p style="color: white"><a href="https://github.com/rafaelsimoes22005793/xadrezFP">Link</a></p>
                    {% load static %}
                    <img src="{% static 'portfolio/img/lusophone-university-humanities-technologies-lisbon-portugal.jpg' %}">
                </div>
            </div>
        </div>
    </div>
    
    </main>
    {% endblock main %}

    



    <footer>
        <div>
            Rafael Simões - a22202620 - Universidade Lusófona 2023
        </div>
    </footer>





</body>

</html>

