<!DOCTYPE html>
<html lang="pt">

{% extends "portfolio/layout.html" %}

<body>

    {% block main %}
    <main>
        
      <div class="fade-in-text">
            <table>
                <tr>
    
                    <th>Tecnologias Usadas</th>
                    <th>Descrição</th>
    
                </tr>
                
                <tr>
                    <td>HTML</td>
                    
                    <td> HTML (HyperText Markup Language), criado em 1991, é uma linguagem de programação que estrutura o conteúdo de uma página web, tais como tabelas, butões, inputs, etc. </td>
    
                </tr>
                <tr>
                    <td>CSS</td>
                    
                    <td> CSS (Cascading Style Sheet), original de 1994 estiliza o conteúdo da página web, como cores, bordas, tamanho de e fontes de letras, etc.</td>
    
                </tr>
                <tr>
                    <td>JavaScript </td>
                    
                    <td> JavaScript, nascido em 1995 é uma linguagem de programação que permite criar conteúdo que se atualiza dinamicamente, e tudo o mais que há de intessante.É maravilhoso o que se pode realizar com algumas linhas de JavaScript.</td>
    
                </tr>
                <tr>
                    <td>Django </td>
                    
                    <td> Django é um framework web Python de alto nível que incentiva o desenvolvimento rápido e um design limpo e pragmático. Ele cuida de grande parte do incômodo do desenvolvimento web, para que seja possivel desenvolver uma aplicação tendo total concentração sem ser necessário reinventar código. É gratuito e de <i><b>open source</b></i>.</td>
    
                </tr>
                <tr>
                    <td>Python </td>
                    
                    <td> Python é uma linguagem de programação interpretada, orientada a objetos e de alto nível com semântica dinâmica. As suas estruturas de dados incorporadas de alto nível, tornam o Python muito atraente para o desenvolvimento rápido de aplicações, bem como para uso como uma linguagem de script ou colagem para conectar componentes existentes. </td>
    
                </tr>
                
            </table>

            <iframe width="1280" height="720" src="https://www.youtube.com/embed/KvdKLlXOZf0" title="Rafael Simões(a22202620) - Portfolio Digital" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <br>
            <br>
            <br>
            <br>
        
      </div>  

    </main>
    {% endblock main %}

    






    <footer>
        <div>
            Rafael Simões - a22202620 - Universidade Lusófona 2023
        </div>
    </footer>



</body>

</html>