<!DOCTYPE html>
<html lang="pt">

{% extends "portfolio/layout.html" %}

<body>

    {% block main %}
    <main>
        
      <div class="fade-in-text">
            <table>
                <tr>
    
                    <th>Tecnologias Usadas</th>
                    <th>Descrição</th>
    
                </tr>
                
                <tr>
                    <td>HTML</td>
                    
                    <td> HTML (HyperText Markup Language), criado em 1991, é uma linguagem de programação que estrutura o conteúdo de uma página web, tais como tabelas, butões, inputs, etc. </td>
    
                </tr>
                <tr>
                    <td>CSS</td>
                    
                    <td> CSS (Cascading Style Sheet), original de 1994 estiliza o conteúdo da página web, como cores, bordas, tamanho de e fontes de letras, etc.</td>
    
                </tr>
                <tr>
                    <td>JavaScript </td>
                    
                    <td> JavaScript, nascido em 1995 é uma linguagem de programação que permite criar conteúdo que se atualiza dinamicamente, e tudo o mais que há de intessante.É maravilhoso o que se pode realizar com algumas linhas de JavaScript.</td>
    
                </tr>
                
            </table>
        
      </div>  

    </main>
    {% endblock main %}

    






    <footer>
        <div>
            Rafael Simões - a22202620 - Universidade Lusófona 2023
        </div>
    </footer>



</body>

</html>